/*-------------------------------------*\
    ALIGNMENT
\*-------------------------------------*/

/**
 * Alignment 
 * 
 * Change the alignment of elements, this
 * includes text-alignment, floats, and
 * clearing
 **
 * Base
 *  - clears
 *  - text-align
 *  - floats
 * 
 * Implementation
 *  - clears
 *  - text-align
 *  - floats
 * 
    
 * 
 * [note] I could seperate these out into sections, but they'd be sooo small
 * that I feel better grouping them. :O
 */ 



/*-------------------------------------*\
    Base
\*-------------------------------------*/

%margin-bottom {
    margin-bottom: unit();
    margin-bottom: (unit() / $base-font-size) * 1rem;
}



/*---   Clears   ---*/

/** <3 css-101.org/articles/clearfix/latest-new-clearfix-so-far.php */
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
%clear-fix { @include clearfix; }

%clear        { clear: both;   }
%clear-left   { clear: left;   }
%clear-right  { clear: right;  }



/*---   Text Align   ---*/

%align-left   { text-align: left;   }
%align-center { text-align: center; }
%align-right  { text-align: right;  }



/*---   Floats   ---*/

%float-left   { float: left;   }
%float-right  { float: right;   }



/*-------------------------------------*\
    Implementation
\*-------------------------------------*/

/*---   Clears   ---*/

.clear        { @extend %clear;       }
.clear-left   { @extend %clear-left;  }
.clear-right  { @extend %clear-right; }
.clear-fix    { @extend %clear-fix;   }



/*---   Text Align   ---*/

.align-left   { @extend %align-left;   }
.align-center { @extend %align-center; }
.align-right  { @extend %align-right;  }



/*---   Floats   ---*/

.float-left   { @extend %float-left;  }
.float-right  { @extend %float-right; }





