/*-------------------------------------*\
    PAGER
\*-------------------------------------*/

/**
 * Pager 
 * 
 * 
 **
 * Base 
 * Isotopes
 * Implementation
 * 
    
 * 
 */ 

%pager,
.pager {
    margin-right: 1em;
}

    %pager__pages-list,
    .pager__pages-list {

        margin-right: unit(1);
        // margin: unit(0.5) 0;

        $w: 26px;
        $h: 32px;

        li {
            // margin-right: unit(.25);
        }

        $s-p: 4px; // Use padding to vertically align text

        .icon--circle-left,
        .icon--circle-right {
            position: relative;
            top: 1px;
        }

        li,
        li > a {
            font-size: 16px;
            font-weight: 300;
            text-decoration: none;
            text-align: center;

            line-height: $h - $s-p;
            padding: .5em 0;

            display: inline-block;

            border-radius: 0;
        }

        li > a{
            @extend %ico-button;
            // color: $c-text;

            padding-top: $s-p;
            padding: 5px 10px;
            // border: 1px solid $c-ui;

            background: none;

            &:active,
            &:hover,
            &:focus {
                // color: #fff;
                // border-color: $c-brand;
                // background: $c-brand;
            }
        }

        .active {
            a {
                // color: #fff;
                // border-color: $c-brand;
                // background: $c-brand;
                cursor: default;

                color: #aecfd2;
                text-shadow: 0 1px 0 #fff,
                             0 0 2px rgba(99,217,236, .45);
            }
        }
    }





/*-------------------------------------*\
    Isotopes
\*-------------------------------------*/
