/*-------------------------------------*\
    BUTTONS
\*-------------------------------------*/

/**
 * Buttons 
 * 
 * 
 **
 * Base 
 * Isotopes
 * Implementation
 * 
    
 * 
 */ 

%button {
}




/*-------------------------------------*\
    Isotopes
\*-------------------------------------*/

%ico-button,
.ico-button {
    text-decoration: none;
    padding: .5em;

    transition: all 160ms;

    &,
    &:visited {
        color: #ccc;
        text-shadow: 0 1px 0 #fff;
    }

    &:hover,
    &:focus {
        color: #aecfd2;
        text-shadow: 0 1px 0 #fff,
                     0 0 2px rgba(99,217,236, .45);
    }

    .active &,
    &.active,
    &:active {
        color: #98d0d4;
        text-shadow: 0 1px 0 #fff,
                     0 0 2px rgba(99,217,236, .78);
    }
}





/*-------------------------------------*\
    Implementation
\*-------------------------------------*/

.button { @extend %button !optional; }





