/*-------------------------------------*\
    $APP
\*-------------------------------------*/

/**
 * App
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */

.app,
%app {
    height: 100%;
    height: 100vh;

    overflow: hidden;
}

.hl {
    color: #000;
    background: #ff0;
}





