/*-------------------------------------*\
    $ENTRY-LIST
\*-------------------------------------*/

/**
 * Entry List
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */

$h-search: 56px;

.site-header {
    width: 100%;

    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}

.main-search__form {
    display: block;
    height: $h-search;
    width: 100%;
    // padding: 0 2em;

    background: #f2f2f2;
    border-bottom: rgba(0,0,0,.45);

    box-shadow: 0 1px 4px rgba(0,0,0,.5);
}

    .main-search__loader {
        opacity: 0;

        $s: 36px;
        width: $s;
        height: $s;
        border: 3px solid #f2f2f2;
        margin: ($h-search - $s)/2;

        display: block;
        position: relative;
        overflow: hidden;
        float: right;

        border-radius: 50%;
        box-shadow: 0 0 0 2px #aaa,
                    0 0 0 1px rgba(170,170,170,.4) inset;

        transition: opacity 180ms;

        &:before {
            content:"";
            display: block;

            $s-i: 32px;
            width: $s-i;
            height: $s-i;
            background: rgba(170,170,170,.7);

            position: absolute;
            // top: 0;

            transform: translate(0,100%);
            clip-path: circle(15px at 50% -50%);
        }

        .isLoading &,
        &.isLoading {
            opacity: 1;

            &:before {
                animation: 4s linear loader infinite;
            }
        }
    }

    .main-search__search-wrapper {
        margin: 0 2em;
    }

    .main-search__search-button {
        position: relative;
        top: 1px;
    }

    .main-search__search {
        $h: 36px;
        $t: 10px;

        height: $h;
        min-width: 25%;
        padding: 0 1em;
        margin-top: $t;

        background: #ddd;

        border-radius: $h;
        border: 1px solid rgba(255,255,255,.12);
        box-shadow: 0 0 8px rgba(0,0,0,.2) inset;

        transition: box-shadow 240ms ease;

        outline: none;
        outline: 0;
    }

    .main-search__search:focus {
        outline: none;
        outline: 0;

        box-shadow: 0 0 8px rgba(0,0,0,.2) inset,
                    0 0 6px 3px rgba(180, 220, 255, .45) inset;
    }

    $h: 20px;
    .main-search__category-selector {

        box-shadow: 0 1px 4px rgba(0,0,0,.5);
        display: flex;
        flex-wrap: wrap;

        border-bottom: 6px solid #f2f2f2;

        & > label {
            font-size: .8em;

            line-height: $h;
            height: $h;
            min-width: 8%;

            display: block;

            position: relative;
            // float: left;
            background: #000;

            flex-grow: 1;
        }

            input {
                height: $h;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;

                z-index: 1;
            }

            span {
                color: #fff;
                color: rgba(255,255,255,.8);
                text-align: center;

                width: 100%;
                padding: 0 .5em;

                border-bottom: 1px solid rgba(0,0,0,.35);
                border-left: 1px solid rgba(0,0,0,.35);
                border-top: 1px solid rgba(255,255,255,.15);
                border-right: 1px solid rgba(255,255,255,.15);

                background: #ccc;
                display: inline-block;
                opacity: .55;

                text-shadow: 0 1px 2px rgba(0,0,0,.5);
            }

            input:checked ~ span {
                background: #000;
                opacity: 1;
            }

            .associates                span {           background: #005553; }
            .backgrounds               span {           background: #525500; }
            .classes                   span {           background: #525243; }
            .creatures                 span {           background: #2a482b; }
            .deities                   span {           background: #6b1e63; }
            .diseases                  span {           background: #50560b; }
            .epic-destinies            span {           background: #0b4756; }
            .feats                     span {           background: #0b563c; }
            .glossary                  span {           background: #5f5f5f; }
            .items                     span {           background: #56360b; }
            .paragon-paths             span {           background: #560b0b; }
            .poisons                   span {           background: #560b3d; }
            .powers                    span {           background: #500; }
            .races                     span {           background: #694d4d; }
            .rituals                   span {           background: #550; }
            .skills                    span {           background: #655; }
            .terrain                   span {           background: #565; }
            .traps                     span {           background: #556; }
            .character-themes          span {           background: #943636; }
            .companions-and-familiars  span {           background: #70AB70; }

            .associates:checked      ~ span {           background: #005553; }
            .backgrounds:checked     ~ span {           background: #525500; }
            .classes:checked         ~ span {           background: #525243; }
            .creatures:checked       ~ span {           background: #2a482b; }
            .deities:checked         ~ span {           background: #6b1e63; }
            .diseases:checked        ~ span {           background: #50560b; }
            .epic-destinies:checked  ~ span {           background: #0b4756; }
            .feats:checked           ~ span {           background: #0b563c; }
            .glossary:checked        ~ span {           background: #5f5f5f; }
            .items:checked           ~ span {           background: #56360b; }
            .paragon-paths:checked   ~ span {           background: #560b0b; }
            .poisons:checked         ~ span {           background: #560b3d; }
            .powers:checked          ~ span {           background: #500; }
            .races:checked           ~ span {           background: #694d4d; }
            .rituals:checked         ~ span {           background: #550; }
            .skills:checked          ~ span {           background: #655; }
            .terrain:checked         ~ span {           background: #565; }
            .traps:checked           ~ span {           background: #556; }
            .character-themes:checked  ~ span {         background: #943636; }
            .companions-and-familiars:checked  ~ span { background: #70AB70; }
    }

.entry-list {
    height: calc(100vh - 102px);
    width: 100%;
    // padding-top: $h-search;

    position: absolute;
    bottom: 0;
    left: 0;

    overflow-x: hidden;
    overflow-y: scroll;
}

    .entry-list__item {
        position: relative;
    }

        .entry-list__header {
            padding: .25em 1em;
            background: #eee;
            border-bottom: 1px solid rgba(0,0,0,.35);
            border-top: 1px solid rgba(255,255,255,.15);
        }

            .associates     .entry-list__header {           background: #005553; }
            .backgrounds    .entry-list__header {           background: #525500; }
            .classes        .entry-list__header {           background: #525243; }
            .creatures      .entry-list__header {           background: #2a482b; }
            .deities        .entry-list__header {           background: #6b1e63; }
            .diseases       .entry-list__header {           background: #50560b; }
            .epic-destinies .entry-list__header {           background: #0b4756; }
            .feats          .entry-list__header {           background: #0b563c; }
            .glossary       .entry-list__header {           background: #5f5f5f; }
            .items          .entry-list__header {           background: #56360b; }
            .paragon-paths  .entry-list__header {           background: #560b0b; }
            .poisons        .entry-list__header {           background: #560b3d; }
            .powers         .entry-list__header {           background: #500; }
            .races          .entry-list__header {           background: #694d4d; }
            .rituals        .entry-list__header {           background: #550; }
            .skills         .entry-list__header {           background: #655; }
            .terrain        .entry-list__header {           background: #565; }
            .traps          .entry-list__header {           background: #556; }
            .character-themes .entry-list__header {         background: #943636; }
            .companions-and-familiars .entry-list__header { background: #70AB70; }

        $h-header: 30px;
        .entry-list__toggle {
            $h: $h-header + 9px;
            display: block;
            height: $h;
            width: 100%;

            background: rgba(255,0,0,.5);
            position: absolute;
            top: 0;
            left: 0;

            opacity: 0;
        }

            .entry-list__header__name {
                line-height: $h-header;
                display: inline-block;
                min-width: 22%;

                color: rgba(255,255,255,.5);
                text-shadow: 0 1px 2px rgba(0,0,0,.5);
            }

                .entry-list__item:hover .entry-list__header__name {
                    color: rgba(255,255,255,.8);
                }

            .entry-list__header__category {
                line-height: $h-header;
                display: inline-block;

                vertical-align: top;
                float: right;

                color: #000;
                opacity: .45;
                text-shadow: 1px 0 1px rgba(255,255,255,.45),
                             0 1px 1px rgba(255,255,255,.45),
                             -1px -1px rgba(0,0,0,.5);
            }

            .entry-list__header__blurb {
                $h: 27px;

                font-size: .88em;
                line-height: $h;
                // height: $h;
                width: 55%;

                opacity: .8;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: inline-block;
                vertical-align: middle;

                display: none;
            }


        .entry-list__details {
            overflow: hidden;

            max-height: 0;
            transition: max-height 180ms ease;
        }

            .entry-list__toggle:active ~.entry-list__details {
                max-height: 4px;
            }

            $h-entry: 4000px;
            .entry-list__toggle:checked ~.entry-list__details,
            .entry-list__details.open {
                max-height: $h-entry;
                transition: max-height 220ms ease;
            }

            .entry-list__details__container {
                padding: 2em 2.5em 4em 3em;
                box-shadow: 0 1px 4px -1px rgba(0,0,0,.85) inset;
                max-height: $h-entry;
                overflow-y: auto;
            }

                .entry-list__details__html {
                    font-size: .8em;
                }
