/*-------------------------------------*\
    ANIMATIONS
\*-------------------------------------*/

/**
 * Animations 
 * 
 * 
 * 
    
 * 
 */ 
 

@mixin keyframe ($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }

    @-moz-keyframes #{$animation-name} {
        @content;
    }

    @-o-keyframes #{$animation-name} {
        @content;
    }

    @keyframes #{$animation-name} {
        @content;
    }
}

@include keyframe('loader') {
    0%,10% {
        transform: rotate(0deg) translate(0,100%);
        clip-path: circle(15px at 50% -50%);
    }

    40%,60% {
        transform: rotate(0deg) translate(0,0);
        clip-path: circle(15px at 50% 50%);
    }

    90%,100% {
        transform: rotate(0deg) translate(0,-100%);
        clip-path: circle(15px at 50% 150%);
    }
}




