/*-------------------------------------*\
    FONTS
\*-------------------------------------*/

/**
 * Fonts 
 * 
 **
 * Imports
 * Stacks
 * 
    
 * 
 */ 

 
/*-------------------------------------*\
    Imports
\*-------------------------------------*/

@font-face {
    font-family: 'dndb-icons';
    src: url('/assets/fonts/dndb-icons/dndb-icons.eot?c55dqv');
    src: url('/assets/fonts/dndb-icons/dndb-icons.eot?c55dqv#iefix') format('embedded-opentype'),
         url('/assets/fonts/dndb-icons/dndb-icons.ttf?c55dqv') format('truetype'),
         url('/assets/fonts/dndb-icons/dndb-icons.woff?c55dqv') format('woff'),
         url('/assets/fonts/dndb-icons/dndb-icons.svg?c55dqv#dndb-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}





/*-------------------------------------*\
    Stacks
\*-------------------------------------*/

$f-body: verdana, arial, sans-serif;
$f-icons: 'dndb-icons';
 




