/*-------------------------------------*\
    ICONS
\*-------------------------------------*/

/**
 * Icons 
 * 
 * 
 * 
    
 * 
 */ 
 
 


[class^="icon--"], [class*=" icon--"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: $f-icons !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon--quill:before {
    content: "\e900";
}
.icon--pen:before {
    content: "\e901";
}
.icon--droplet:before {
    content: "\e902";
}
.icon--spades:before {
    content: "\e903";
}
.icon--diamonds:before {
    content: "\e904";
}
.icon--price-tag:before {
    content: "\e905";
}
.icon--price-tags:before {
    content: "\e906";
}
.icon--location:before {
    content: "\e907";
}
.icon--undo:before {
    content: "\e908";
}
.icon--redo:before {
    content: "\e909";
}
.icon--undo2:before {
    content: "\e90a";
}
.icon--redo2:before {
    content: "\e90b";
}
.icon--forward:before {
    content: "\e90c";
}
.icon--reply:before {
    content: "\e90d";
}
.icon--bubble:before {
    content: "\e90e";
}
.icon--binoculars:before {
    content: "\e90f";
}
.icon--search:before {
    content: "\e910";
}
.icon--zoom-in:before {
    content: "\e911";
}
.icon--zoom-out:before {
    content: "\e912";
}
.icon--enlarge:before {
    content: "\e913";
}
.icon--shrink:before {
    content: "\e914";
}
.icon--enlarge2:before {
    content: "\e915";
}
.icon--shrink2:before {
    content: "\e916";
}
.icon--bug:before {
    content: "\e917";
}
.icon--airplane:before {
    content: "\e918";
}
.icon--accessibility:before {
    content: "\e919";
}
.icon--target:before {
    content: "\e91a";
}
.icon--sphere:before {
    content: "\e91b";
}
.icon--earth:before {
    content: "\e91c";
}
.icon--link:before {
    content: "\e92f";
}
.icon--flag:before {
    content: "\e91d";
}
.icon--attachment:before {
    content: "\e91e";
}
.icon--eye:before {
    content: "\e91f";
}
.icon--eye-plus:before {
    content: "\e920";
}
.icon--eye-minus:before {
    content: "\e921";
}
.icon--eye-blocked:before {
    content: "\e922";
}
.icon--star-empty:before {
    content: "\e923";
}
.icon--star-half:before {
    content: "\e924";
}
.icon--star-full:before {
    content: "\e925";
}
.icon--heart:before {
    content: "\e926";
}
.icon--heart-broken:before {
    content: "\e927";
}
.icon--cross:before {
    content: "\e928";
}
.icon--circle-right:before {
    content: "\e930";
}
.icon--circle-left:before {
    content: "\e931";
}
.icon--checkbox-checked:before {
    content: "\e929";
}
.icon--checkbox-unchecked:before {
    content: "\e92a";
}
.icon--radio-checked:before {
    content: "\e92b";
}
.icon--radio-checked2:before {
    content: "\e92c";
}
.icon--radio-unchecked:before {
    content: "\e92d";
}
.icon--filter:before {
    content: "\e92e";
}

